.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    
    /* Primary Colors */
    --primary-orange: 26, 100%, 55%;
    --primary-pale-orange: 25, 100%, 94%;
    
    /* Neutral Colors */
    --neutral-very-dark-blue: 220, 13%, 13%;
    --neutral-dark-grayish-blue: 219, 9%, 45%;
    --neutral-grayish-blue: 220, 14%, 75%;
    --neutral-light-grayish-blue: 223, 64%, 98%;
    --neutral-white: 0, 0%, 100%;
    --neutral-black: 0, 0%, 0%, 0.75; /* 75% opacity */

    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3rem;
    --fs-700: 2rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    --fs-100: 0.75rem;

    /* font-weigth */
    --fw-900: 900;
    --fw-800: 800;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;
    --fw-300: 300;
    --fw-200: 200;
    --fw-100: 100;
    

    /* font-families */
    --ff-serif: 'Kumbh Sans', sans-serif;
    --ff-sans-cond: 'Kumbh Sans', sans-serif;
    --ff-sans-normal: 'Kumbh Sans', sans-serif;
}

@media (min-width: 45em) {
    :root {
        /* font-sizes desktop*/
        --fs-800: 6.25rem;
        --fs-700: 2.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1rem;
    }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl(var(--neutral-dark-grayish-blue));
    background-color: hsl(var(--neutral-white));
    line-height: 1.8;
    min-height: 100vh;
    overflow-x: hidden;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1.5rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.flow>*:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
    --flow-space: .75rem;
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.white-icon {
    filter: brightness(0) invert(1);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

/* colors */

.bg-white { background-color: hsl(var(--neutral-white));}
.bg-orange { background-color: hsl(var(--primary-pale-orange));}
.bg-dark-orange { background-color: hsl(var(--primary-orange));}
.bg-gray { background-color: hsl(var(--neutral-light-grayish-blue));}

.text-orange { color: hsl( var(--primary-orange) );}
.text-black { color: hsl( var(--neutral-black) );}
.text-white { color: hsl( var(--neutral-white) );}
.text-dark-gray { color: hsl( var(--neutral-very-dark-blue) );}
.text-ligth-gray { color: hsl( var(--neutral-dark-grayish-blue) );}

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.bottom-1 {margin-bottom: 10px;}
.bottom-2 {margin-bottom: 20px;}
.bottom-3 {margin-bottom: 30px;}

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }
.fs-100 { font-size: var(--fs-100); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.fw-900 { font-weight:  var(--fw-900); }
.fw-800 { font-weight:  var(--fw-800); }
.fw-700 { font-weight:  var(--fw-700); }
.fw-600 { font-weight:  var(--fw-600); }
.fw-500 { font-weight:  var(--fw-500); }
.fw-400 { font-weight:  var(--fw-400); }
.fw-300 { font-weight:  var(--fw-300); }
.fw-200 { font-weight:  var(--fw-200); }
.fw-100 { font-weight:  var(--fw-100); }
   

/* primary-header */

/* Media query for mobile */
@media (max-width: 45rem) {

    .logo {
        margin: 2rem clamp(3.5rem, 10vw, 3.5rem);
    }

    .primary-header {
        align-items: center;
        width: auto;
        height: auto;
    }

    .primary-navigation {
        --underline-gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0;
        list-style: none;
        padding: min(20rem, 20vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform 500ms ease-in-out;
        background-color: transparent;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }
    

    .mobile-nav-toggle {
        cursor: pointer;
        display: block;
        position: absolute;
        z-index: 2000;
        left: 1rem;
        top: 2rem;
        background: transparent;
        background-image: url(./images/icon-menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(./images/icon-close.svg);
    }

    .mobile-nav-toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
    }

    .user {
        height: 3rem;
        margin-right: 1rem;
        margin-left: auto;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .avatar {
        height: 2rem;
    }

    .cart {
        height: 1.5rem;
    }

    .product-images {
        display: none;
    }

    .product-counter {
        border-radius: 50%;
        aspect-ratio: 1;
        width: 1.050rem;
        height: 1rem;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        display: none;
    }

        .cart-view {
            position: absolute;
            z-index: 10000;
            width: 21rem;
            height: 15rem;
            background-color: white;
            border-radius: 0.5rem;
            right: 0rem;
            top: 6rem;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), 0px -5px 10px rgba(0, 0, 0, 0);
            display: none;
        }
    
        .cart-img {
            width: 3.5rem;
            height: 3.5rem;
            position: absolute;
            top: 5rem;
            left: 1rem;
        }
    
        .icon-delete {
            width: 1rem;
            height: 1rem;
            position: absolute;
            top: 6rem;
            right: 1rem;
        }
    
        .cart-text {
            top: 5rem;
            width: max-content;
            height: 4rem;
            position: absolute;
            left: 5rem;
        }
    
        .total {
            gap: 0rem;
        }
    
        .cart-name {
            position: absolute;
            top: 1rem;
            left: 1rem;
        }
    
        .checkout {
            position: absolute;
            bottom: 1.4rem;
            width: 90%;
            height: 1.7rem;
            margin: 0 1rem;
            border-radius: 0.5rem;
        }

}

/* Media query for desktop */
@media (min-width: 45em){

.primary-header {
    align-items: center;
    width: auto;
    height: auto;
    margin: 1rem 8rem;
    padding-bottom: 1rem;
    border-bottom: solid 0.2px lightgray;
}



.primary-navigation {
    --gap: clamp(.7rem, 3vw, 1.5rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 1rem;
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
}

.mobile-nav-toggle {
    display: none;
}

.user{
    height: 4rem;
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
    gap: 2.5rem;
    position: relative;
}

.avatar {
    height: 3rem;
}

.cart {
    height: 1.2rem;
}

.product-counter {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 1.050rem;
    height: 1rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: none;
}

.cart-view {
    position: absolute;
    width: 19rem;
    height: 13rem;
    background-color: white;
    border-radius: 0.5rem;
    left: -9rem;
    top: 4rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), 0px -5px 10px rgba(0, 0, 0, 0);
    display: none;
}

.cart-img {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    top: 5rem;
    left: 1rem;
}

.icon-delete {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 6rem;
    right: 1rem;
}

.cart-text {
    top: 5rem;
    width: max-content;
    height: 4rem;
    position: absolute;
    left: 5rem;
}

.total {
    gap: 0rem;
}

.cart-name {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.checkout {
    position: absolute;
    bottom: 1.4rem;
    width: 90%;
    height: 1.7rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
}

}

/* main content */

article {
    margin: 1rem;
}

button {
    border: none;
    background-color: transparent;
}

.b-counter,
.b-cart {
    cursor: pointer;
    height: 3rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    position: relative;
   justify-content: center;
}

.counter-minus{
    cursor: pointer;
    position: absolute;
    top: 1.4rem;
    left: 1rem;
}

.counter-plus {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.discount {
    height: 1.8rem;
    width: 2.5rem;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
}

.overline {
    text-decoration: line-through;
}

.price {
    align-items: center;
    position: relative;
}

.p-original {
    position: absolute;
    right: 1rem;
}

.previous-mob,
.next-mob {
    background-color: white;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.previous-mob {
    position: absolute;
    top: 16rem;
    left: 1rem;
}

.next-mob {
    position: absolute;
    top: 16rem;
    right: 1rem;
}

/* Media query for desktop */
@media (min-width: 45em) {

    main {
        margin: 5rem 8rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0rem;
    }

    article {
        margin-top: 3rem;
    }

    .price {
        margin-bottom: 3rem;
    }

   .p-original {
       position: absolute;
       top: 3rem;
       left: 0.5rem;
   }

    .counter-cart {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 1.5rem;
    }

    .b-counter {
        width: 35%;
    }

    .b-cart {
        width: 65%;
    }

    .products {
        width: 70%;
        grid-template-columns: 1fr;
        margin-left: 3rem;
    }

    .main-product {
        grid-row: 1;
        justify-content: center;
        align-items: center;
    }

    .main-img {
        border-radius: 0.5rem;
    }

    .product-images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.5rem;
    }

    .thumbnail {
        width: 5.5rem;
        border-radius: 0.5rem;
    }

    .previous-mob,
    .next-mob {
        display: none;
    }

}

/* products gallery view*/

.view {
    display: none;
}


/* Media query for desktop */
@media (min-width: 45em) {

    .view {
        position: fixed; 
        z-index: 9999; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; 
        background-color: rgba(0, 0, 0, 0.7);
    }

    .gallery {
        width: 35%;
        height: 40%;
        top: 32%;

    }

    .thumbnail-gallery{
        display: flex;
        justify-self: center;
    }

    .previous,
    .next {
        background-color: white;
        border-radius: 50%;
        aspect-ratio: 1;
        width: 3rem;
        height: 3rem;
        position: fixed;
    }

    .previous {
        cursor: pointer;
        position: absolute;
        top: 14rem;
        left: -1rem; 
        
    }

    .next {
        cursor: pointer;
        position: absolute;
        top: 14rem;
        right: -1rem; 
    }

    .close {
        cursor: pointer;
        position: absolute;
        top: -2rem;
        right: 0rem;
    }

}



